.table-container {
    width: 300px;
    height: 420px;
    margin: 4px;
    background-color: rgb(85, 80, 85);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container h3 {
    text-align: center;
    margin-bottom: 10px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
}

.td-slotname {
    width: 25%
}

.td-slotform {
    width: 60%;
}

.td-slotsuccess {
    width: 15%
}

.custom-table th {
    background-color: #343a40;
    color: white;
}

.custom-table td {
    color: rgb(210, 210, 210);
    background-color: rgb(95, 90, 95);
}

.custom-table tr:hover {
    background-color: #f1f1f1;
}

.form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}